<meta name="viewport" content="width=device-width" initial scale ="1.0" user scalable="no">
 
 <body>
       <div class="class1">
     <div class ="class2">
       <h1 class ="class3">
GITHUB APPLICATION       </h1>
     </div>
     <br>
   
</div>
<h1 class="design"> user details</h1>

<div class="image-style">
<img src="https://avatars1.githubusercontent.com/u/9919?s=200&v=4" height="82" width="82"><br><br>
</div>
<div id="login">
  <h3 class="text-center text-white pt-5">Login form</h3>
  <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
              <div class="login-box col-md-12">
                      <h3 class="text-center text-info">Login</h3>
                      <div class="form-group">
                          <input type="text" name="username" class="form-control" [(ngModel)]="username" id="username" class="form-control" placeholder="Enter the Username">
                      </div>
                      <div class="form-group">
                        <a [routerLink]="['/profile']" class="btn btn-primary" (click)="findProfile()">Submit</a>                      </div>
              </div>
          </div>
      </div>
  </div>
</div><br><br><br><br><br><br>
<div class="footer-design">
  <footer>COPYRIGHT © 2018 GIT DIGITAL PVT. LTD.
    </footer>
</div>
</body>

